 # Data Science Tools and Ecosystem

## Author
Jenifer Kirby

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use
- Identify some of the common libraries used by Data Scientists
- List some popular Data Science Tools
- Demonstrate examples of formatting and arithmetic in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java
5. Julia
6. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools |
|:------------------|
| TensorFlow        |
| Apache Spark      |
| Apache Hadoop     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This is a simple arithmetic expression to multiply and add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335